.addMovieFooter{
	margin:auto;
	width:954px;
	color:white;

}
.addMovie{
	background-color:red;
	font-size:20px;
	color:white;
	height:52px;
	width:169px;
	

}

.add{
	background-color:red;
	width:40px;

}

.f_div{
	border:solid 1px #272734;
	height:180px;
	background-color:#272734;

}

.foo_img{
	height:52px;
	width:128px;
	margin-top:80px;
	margin-left:290px;
	margin-right:10px;
	background-color:#272734;
	float:left;
}
.foo_text{
	color:white;
	background-color:#272734;
	margin-top:90px;
	font-size:28px;

}
font{
	background-color:#272734;
}


.form{
	background-color:#272734;
	width:960px;
	height:1247px;
	margin:auto;
	padding-top: 50px;

}

.common{
	background-color:#272734;

}
.inp_com{
	margin-bottom:15px;
	background-color:#5E5E75;
	height:40px;
	width:352px;
}

.b{
	margin-left:160px;
}

.d{
	margin-top:25px;
}

.in{
	width:93px;
	height:40px;
}











