*{
	background-color:#0E0E15;
	margin:0px;
}
.Movie_row{
	color:white;
	margin:auto;
	height :300px;
	width:954px;

}
.black_line{
	border:solid 1px gray;
	margin:auto;
	width:954px;
}

.Movie_details{
	margin:auto;
	height:80%;
	width:900px;
}

.Movie_img{
	float:left;
	margin-right:26px;

}


.like{
	height:32px;
	margin:0px;
}

.delete{
	float:right;

}

.fetch{
	color:white;
}































