*{
	background-color:#0E0E15;
	margin:0px;
	color:white;
}
.Movie_row{
	color:white;
	margin:auto;
	height :300px;
	width:954px;

}
.black_line{
	border:solid 1px gray;
	margin:auto;
	width:954px;
}

.Movie_details{
	margin:auto;
	height:85%;
	width:900px;
}

.Movie_img{
	float:left;
	margin-right:26px;

}

.rating{
	width:100px;
	float :left;

}

.r{
	float:left;

}

.rate{
	padding-left:5px;
	width:30px;

}

.delete{
	float:right;

}
































